:root {
  --color-primary: var(--color-lemon-400, #eead4c);
  --color-primary-light: var(--color-lemon-200);
  --color-primary-dark: var(--color-lemon-800);
  --color-secondary: var(--color-lime-600);
  --color-secondary-light: var(--color-lime-200);
  --color-secondary-dark: var(--color-lime-800);
  --color-accent: var(--color-blueberry-400);
  --color-accent-light: var(--color-blueberry-200);
  --color-accent-dark: var(--color-blueberry-800);
  --color-success: var(--color-mint-700);
  --color-success-light: var(--color-mint-200);
  --color-success-dark: var(--color-mint-800);
  --color-warning: var(--color-tangerine-600);
  --color-warning-light: var(--color-tangerine-200);
  --color-warning-dark: var(--color-tangerine-800);
  --color-error: var(--color-cherry-600);
  --color-error-light: var(--color-cherry-200);
  --color-error-dark: var(--color-cherry-800);
  --color-info: var(--color-blueberry-500);
  --color-info-light: var(--color-blueberry-200);
  --color-info-dark: var(--color-blueberry-800);
}

@theme {
  --color-*: initial;
  --color-cherry-100:#ffd6d7;
  --color-cherry-200:#ffb4b6;
  --color-cherry-300:#f75a5d;
  --color-cherry-400:#d13d40;
  --color-cherry-500:#c52b2e;
  --color-cherry-600:#c92530;
  --color-cherry-700:#ae172e;
  --color-cherry-800:#a8122d;
  --color-cherry-900:#811123;
  --color-cherry-1000:#671213;
  --color-tangerine-100:#ffdbc2;
  --color-tangerine-200:#ffc088;
  --color-tangerine-300:#feac55;
  --color-tangerine-400:#ff9421;
  --color-tangerine-500:#ff9537;
  --color-tangerine-600:#fb8429;
  --color-tangerine-700:#d96c39;
  --color-tangerine-800:#cf5c27;
  --color-tangerine-900:#ba4914;
  --color-tangerine-1000:#903a12;
  --color-lemon-100:#fef4d9;
  --color-lemon-200:#fce6a6;
  --color-lemon-300:#f8cd72;
  --color-lemon-400:#eead4c;
  --color-lemon-500:#c98f0a;
  --color-lemon-600:#a36d07;
  --color-lemon-700:#805607;
  --color-lemon-800:#624206;
  --color-lemon-900:#4c3305;
  --color-lemon-1000:#2f1e03;
  --color-lime-100:#ecffda;
  --color-lime-200:#C0ea9a;
  --color-lime-300:#a5dd74;
  --color-lime-400:#8cc857;
  --color-lime-500:#72d87e;
  --color-lime-600:#62ca99;
  --color-lime-700:#559c62;
  --color-lime-800:#3b8749;
  --color-lime-900:#1d653f;
  --color-lime-1000:#0f3d2d;
  --color-blueberry-100:#E8EFFF;
  --color-blueberry-200:#BCCFF7;
  --color-blueberry-300:#A2C0EE;
  --color-blueberry-400:#8DA5E7;
  --color-blueberry-500:#7695DC;
  --color-blueberry-600:#5F69BD;
  --color-blueberry-700:#5355B8;
  --color-blueberry-800:#454694;
  --color-blueberry-900:#33346D;
  --color-blueberry-1000:#20203A;
  --color-mint-100:#deffe1;
  --color-mint-200:#c4feca;
  --color-mint-300:#9df994;
  --color-mint-400:#75f673;
  --color-mint-500:#64ee74;
  --color-mint-600:#51dc61;
  --color-mint-700:#3ecb73;
  --color-mint-800:#3da364;
  --color-mint-900:#30794c;
  --color-mint-1000:#205735;
  --color-grape-100:#f7e8ff;
  --color-grape-200:#d5b4ee;
  --color-grape-300:#b89ce2;
  --color-grape-400:#a589ce;
  --color-grape-500:#9c80c5;
  --color-grape-600:#7d5fab;
  --color-grape-700:#7254a0;
  --color-grape-800:#5e4684;
  --color-grape-900:#43315e;
  --color-grape-1000:#302343;

  /* Greyscale */
  --color-white: #FFF;
  --color-black: #000;
  --color-contrast: #FFF;
  --color-neutral-50:#f6f5f7;
  --color-neutral-100:#f4f2f2;
  --color-neutral-200:#efefef;
  --color-neutral-300:#ebebeb;
  --color-neutral-400:#ccc9c9;
  --color-neutral-500:#bdbcbc;
  --color-neutral-600:#9b9898;
  --color-neutral-700:#7e7b7b;
  --color-neutral-800:#5b5757;
  --color-neutral-900:#424040;
  --color-neutral-1000:#2e2b2b;
  --color-neutral-50\/30: rgb(246 245 247 / 30%);
  --color-neutral-100\/30: rgb(244 242 242 / 30%);
  --color-neutral-200\/30: rgb(239 239 239 / 30%);
  --color-neutral-300\/30: rgb(235 235 235 / 30%);
  --color-neutral-400\/30: rgb(204 201 201 / 30%);
  --color-neutral-500\/30: rgb(189 188 188 / 30%);
  --color-neutral-600\/30: rgb(155 152 152 / 30%);
  --color-neutral-700\/30: rgb(126 123 123 / 30%);
  --color-neutral-800\/30: rgb(91 87 87 / 30%);
  --color-neutral-900\/30: rgb(66 64 64 / 30%);
  --color-neutral-1000\/30: rgb(46 43 43 / 30%);
  --color-error-opacity: rgb(247 90 93 / 8%);
  --color-primary-opacity: rgb(94 70 132 / 8%);
  --color-secondary-opacity: rgb(45 201 201 / 8%);
  --color-warning-opacity: rgb(240 162 2 / 8%);
  --color-success-opacity: rgb(100 238 116 / 8%);
  --color-info-opacity: rgb(34 166 211 / 8%);
}

/* Dark mode overrides */
.dark {
  --color-tangerine-1000:#ffdbc2;
  --color-tangerine-900:#ffc088;
  --color-tangerine-800:#feac55;
  --color-tangerine-700:#ff9421;
  --color-tangerine-600:#ff9537;
  --color-tangerine-500:#fb8429;
  --color-tangerine-400:#d96c39;
  --color-tangerine-300:#cf5c27;
  --color-tangerine-200:#ba4914;
  --color-tangerine-100:#903a12;
  --color-sunset-1000:#ffe2a7;
  --color-sunset-900:#ffce68;
  --color-sunset-800:#ffbe39;
  --color-sunset-700:#feb92c;
  --color-sunset-600:#f0a202;
  --color-sunset-500:#db9c08;
  --color-sunset-400:#d78e06;
  --color-sunset-300:#c5790f;
  --color-sunset-200:#ad6008;
  --color-sunset-100:#6d3a0e;
  --color-blueberry-1000:#baeeff;
  --color-blueberry-900:#75d7f7;
  --color-blueberry-800:#50c8f1;
  --color-blueberry-700:#3ac4f4;
  --color-blueberry-600:#22a6d3;
  --color-blueberry-500:#1d8baf;
  --color-blueberry-400:#217f9f;
  --color-blueberry-300:#14617b;
  --color-blueberry-200:#11546a;
  --color-blueberry-100:#0b3948;
  --color-cherry-1000:#ffd6d7;
  --color-cherry-900:#ffb4b6;
  --color-cherry-800:#f75a5d;
  --color-cherry-700:#d13d40;
  --color-cherry-600:#c52b2e;
  --color-cherry-500:#c92530;
  --color-cherry-400:#ae172e;
  --color-cherry-300:#a8122d;
  --color-cherry-200:#811123;
  --color-cherry-100:#671213;
  --color-moss-1000:#d1ffff;
  --color-moss-900:#93d3d0;
  --color-moss-800:#82c5be;
  --color-moss-700:#45a9a7;
  --color-moss-600:#3b918f;
  --color-moss-500:#2e8281;
  --color-moss-400:#23706f;
  --color-moss-300:#1f6c69;
  --color-moss-200:#126367;
  --color-moss-100:#0b5054;
  --color-grape-1000:#f7e8ff;
  --color-grape-900:#d5b4ee;
  --color-grape-800:#b89ce2;
  --color-grape-700:#a589ce;
  --color-grape-600:#9c80c5;
  --color-grape-500:#7d5fab;
  --color-grape-400:#7254a0;
  --color-grape-300:#5e4684;
  --color-grape-200:#43315e;
  --color-grape-100:#302343;
  --color-mint-1000:#deffe1;
  --color-mint-900:#c4feca;
  --color-mint-800:#9df994;
  --color-mint-700:#75f673;
  --color-mint-600:#64ee74;
  --color-mint-500:#51dc61;
  --color-mint-400:#3ecb73;
  --color-mint-300:#3da364;
  --color-mint-200:#30794c;
  --color-mint-100:#205735;

  /* Greyscale */
  --color-white: #000;
  --color-black: #FFF;
  --color-contrast: #000;
  --color-neutral-1000:#f6f5f7;
  --color-neutral-900:#f4f2f2;
  --color-neutral-800:#efefef;
  --color-neutral-700:#ebebeb;
  --color-neutral-600:#ccc9c9;
  --color-neutral-500:#bdbcbc;
  --color-neutral-400:#9b9898;
  --color-neutral-300:#7e7b7b;
  --color-neutral-200:#5b5757;
  --color-neutral-100:#424040;
  --color-neutral-50:#2e2b2b;
}
